a, p {
    font-family: sans-serif;
}

#navbar {
    background:#fff ;
    width: 100%;
    height: 50px;

    display: flex;  
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navitems {
    background:#fff;
    margin: 10px;
}

#mainstuff {
    margin-top: 10%;
    background: rgb(255, 255, 255);
}

.mainstuffitems {
    display: block;
    margin: auto;
}

#searchbox {
    border:none;
    width: 80%;
    height: 50px;
    font-size: 20px;
}

textarea:focus, input:focus {
    outline:none;
}


#searchbuttons {
    background: rgb(255, 255, 255);
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sbuttons {
    background:rgb(240, 240, 240);
    border-radius: 5px;
    margin: 10px;
    box-shadow:none;
}

.sbuttons:hover {
    box-shadow: 0px 0px 1px 0.5px rgb(214, 214, 214);
}

a{
    text-decoration: none;
    color: #000;
    padding: 1px;
}

a p {
    margin: 10px;
    margin-right: 15px;
    margin-left: 15px;
}


#searchelements {
    width: 40%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 60px;

    border: 2px solid rgb(225, 225, 225);

    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;


}
#searchelements img {
    display: block;
    margin: 10px;
}